<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="bookingJSV1">

    <listeners>
		<listener class-name="com.bookingJS.utilities.Reporting" />
	</listeners>
	
	<test name="BookingApp Test">
		<parameter name="browser" value="chrome" /> <!--chrome /firefox     -->
		 <classes>
			     <class name="com.bookingJS.testCases.TC_SearchTest_001" />
			      <class name="com.bookingJS.testCases.TC_HotelTest_002" />
			        <class name="com.bookingJS.testCases.TC_DetailsHotelTest_003" />
			     
			  <!--        -->
		   
		  
		</classes>

	</test>

</suite>
